

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.slider.slider-horizontal {
  width: 100%;
}


.slider-selection {
  background-image: linear-gradient(to bottom, #060606 0%, #545151 100%);
}

.slider-handle {
  background-image: linear-gradient(to bottom, #060606 0%, #0A0909 100%);
  width: 15px;
  height: 15px;
}

.slider-track {
  background-image: linear-gradient(to bottom, #060606 0%, #615E5E 100%);
}

#macro-molecule {
  border: 4px solid black;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 400px;
}


