

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.slider.slider-horizontal {
  width: 100%;
}


.slider-selection {
  background-image: linear-gradient(to bottom, #060606 0%, #545151 100%);
}

.slider-handle {
  background-image: linear-gradient(to bottom, #060606 0%, #0A0909 100%);
  width: 15px;
  height: 15px;
}

.slider-track {
  background-image: linear-gradient(to bottom, #060606 0%, #615E5E 100%);
}

#macro-molecule {
  border: 3px solid black;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.responsive-image {
  width: 80%;
}
